.allCategoryIndex{
  border-radius: 10px;
  margin: auto;
  margin-top: 3rem;
  background: $backHome4;
  display: grid;
  .title{
    display: grid;
    .title1{
      font-size: 1.2rem;
      font-weight: 900;
      color: $text1;
      z-index: 2;
      display: grid;
      background: $backHome;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
      margin: 1rem;
    }
    &:after{
      content: "";
      margin: -20px 2rem 3px 2rem;
      background-color: $backHome;
      opacity: .5;
      border-radius: 0 0 8px 8px;
      z-index: 1;
    }
  }
  .catItems{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(22rem,1fr));
    grid-gap: 1rem;
    margin: 1rem;
    .item{
      background: $backHome;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      position: relative;
      .rightCat{
        .title2{
          font-size: 1.1rem;
          font-weight: 700;
          color: $text1;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-bottom: 1rem;
        }
        a{
          background: $red;
          margin-top: 1rem;
          padding: .2rem 1rem;
          font-size: .8rem;
          font-weight: 300;
          color: white;
          border-radius: 5px;
        }
      }
      .leftCat{
        img{
          width: 5rem;
          height: 5rem;
          object-fit: contain;
        }
      }
      &:after{
        content: "";
        background: $green;
        border-radius: 8px 8px 0 0;
        position: absolute;
        top: -5px;
        height: 5px;
        right: 1rem;
        left: 1rem;
        margin: auto;
      }
      &:before{
        content: "";
        background: $green;
        border-radius: 0 0 8px 8px;
        position: absolute;
        bottom: -5px;
        height: 5px;
        right: 1rem;
        left: 1rem;
        margin: auto;
      }
    }
  }
}
