.allIndex{
    .indexData{
        &:nth-child(2){
            margin-top: 0 !important;
        }
        .suggestIndex{
            .title{
                margin-top: 0 !important;
                opacity: 1 !important;
                height: auto;
            }
        }
        .allProductList{
            .title{
                .title1{
                    transform: translateX(0) !important;
                }
                a{
                    transform: translateX(0) !important;
                }
            }
        }
        .storyItems{
            .storyItem{
                img{
                    width: 8rem !important;
                    height: 8rem !important;
                }
            }
            @media screen and (max-width: 920px) {
                .storyItem{
                    img{
                        width: 4rem !important;
                        height: 4rem !important;
                    }
                }
            }
        }
        .allCircleProduct{
            .circle-container {
                transform: rotate(0deg) !important;
            }
        }
        .bestIndex{
            .bestItems {
                a{
                    width: 100% !important;
                }
            }
        }
    }
    @media screen and (max-width: 920px) {
        .indexData{
            &:nth-child(4){
                margin-top: 2rem;
            }
            &:nth-child(5){
                margin-top: 2rem;
            }
        }
    }
}
