.allSplash{
  background: $green;
  z-index: 4000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  .allLoadings{
    margin: auto;
    display: grid;
    align-items: center;
    overflow: hidden;
    .pic{
      display: grid;
      justify-content: center;
      margin-bottom: .5rem;
      img{
        width: 100%;
        height: 10rem;
        object-fit: contain;
      }
    }
    i{
      display: grid;
      justify-content: center;
      align-items: center;
      .loading{
        width: 3rem;
        height: 3rem;
        fill: white;
        animation: arrow-anim2 .5s ease infinite;
        @keyframes arrow-anim2 {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(45deg);
          }
          25% {
            transform: rotate(90deg);
          }
          50% {
            transform: rotate(180deg);
          }
          75% {
            transform: rotate(270deg);
          }
          85% {
            transform: rotate(300deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
    p{
      font-size: 2rem;
      font-weight: 500;
      color: white;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
